/* HomePage.css */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: system-ui;
}

.background{
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  opacity: 0.5;
}

.filters-and-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Resto de tus estilos para HomePage */
