/* DriverCard.css */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden; /* Para asegurar que las esquinas redondeadas se apliquen a las imágenes */
    transition: box-shadow 0.3s ease;
    margin: 10px;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0; /* Esquinas redondeadas solo en la parte superior */
  }
  
  .card > div {
    padding: 10px;
  }
  
  .card h2 {
    font-size: 1.2em;
    margin: 0;
  }
  
  .card p {
    margin: 8px 0;
    color: #666;
  }
  
  /* Estilos para el enlace */
  .card a {
    text-decoration: none;
    color: inherit;
  }
  