.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}
.title{
  position:absolute;
  padding: 10px;

}

.card-list {
  margin: 10px;
  margin-top: 100px;
}


.pageButton {
  margin: 0 5px;
  padding: 8px 12px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
}

.pageButton:hover {
  background-color: #f0f0f0;
}

.pageButton.active {
  background-color: #007bff;
  color: #fff;
}

.pagination-list{
  margin-bottom: 50px;
  margin-top: 20px;
}