/* filters.css */

.filters-container {
  display: flex;
  justify-content: space-between; /* Para distribuir los labels horizontalmente */
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom:  solid rgba(56, 56, 56, 0.918);
  border-top: solid rgba(56, 56, 56, 0.918);
  border-width: 1px;
}

.filter-item{
  margin-top: 15px;
  margin-bottom: 15px;
}

label {
  margin-bottom: 12px;
  font-weight: bold;
  margin-right: 5px;
}

select {
  width: 150px; /* Ajusta el ancho según sea necesario */
  padding: 5px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

select:hover,
select:focus {
  border-color: #555;
}

option {
  padding: 10px;
  margin-bottom: 8px;
}
