/* Agrega estos estilos a tu archivo CSS para la AboutPage */
.about-div {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .description {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border-left: solid 1px white;
    margin-top: 50px;
  }
  
  /* Puedes ajustar estos estilos según tus preferencias */
  