/* Agrega estos estilos a tu archivo CSS para la AboutPage */
body{
  background-color: black;
}
.about-div {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-family: system-ui;

  }
  
  .description {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border-left: solid 1px white;
    margin-top: 50px;
  }
  
  /* Puedes ajustar estos estilos según tus preferencias */
  